:root {
  --Light_Cyan: hsl(193, 38%, 86%);
  --Neon_Green: hsl(150, 100%, 66%);
  --Grayish_Blue: hsl(217, 19%, 38%);
  --Dark_Grayish_Blue: hsl(217, 19%, 24%);
  --Dark_Blue: hsl(218, 23%, 16%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Dark_Blue);
}
main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.Container {
  background-color: var(--Dark_Grayish_Blue);
  max-height: 8rem;
  min-width: 2rem;
  border-radius: 0.9rem;
}
.flexCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divider {
  margin: 1rem;
}
.button {
  min-width: 3rem;
  min-height: 3rem;
  align-items: center;
  border-radius: 50%;
  background-color: var(--Neon_Green);
}
